<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dwipuspa Ramadhanti Santoso</title>
  </head>
  <body>
    <body bgcolor="#ffeecc">
    <div align="center">
      <font face="arial" size="5" color = "#ff884d">
      <h1>Get To Know Us</h1>
    </div>

    <div align="left">
        <font size = "4" color="#ff9966">
        <p>1</p>
        <font size = "3">
        <p>Hello I'm A Wall</p>
        <p>Nama        : Wall</p>
        <p>NPM         : I'm not a student </p>
        <p>Almamater   : I'm not a student (2)</p>
        <p>Hobby       : Standing still</p>
        <p>Description : I'm a solid wall you can rely on</p>

        <img src="https://media.istockphoto.com/photos/brick-wall-picture-id497944862?k=6&m=497944862&s=612x612&w=0&h=WdjZ2zOvUbURCaJoeu3emjPtpcaXxRinbyVanE3ShJc=" alt="" width="600" height="620">
    </div>

    <div align ="center">
      <font size = "4" color = "#cc7a00">
      <p>2</p>
      <font size = "3">
      <p>Bismillahirrahmanirrahim</p>
      <p>Nama        : {{ name }}</p>
      <p>NPM         : {{ npm }} </p>
      <p>Almamater   : {{ almamater }}</p>
      <p>Hobby       : {{ hobby }}</p>
      <p>Description : {{ description }}</p>

      <img src="https://pbs.twimg.com/profile_images/1037509829403717634/EoOt3MFs_400x400.jpg" alt="" width="600" height="620">
    </div>

    <div align = "right">
      <font size = "4" color = "#4da6ff">
      <p>3</p>
      <font size = "3">
      <p>Hello, Everyone!</p>
      <p>Nama        : Rachel Larasati K</p>
      <p>NPM         : 1706984713 </p>
      <p>Almamater   : University of Indonesia</p>
      <p>Hobby       : Listening to music</p>
      <p>Description : Human resource for life</p>

      <img src="https://pbs.twimg.com/profile_images/1035362808966172672/95OK9hzv_400x400.jpg" alt="" width="600" height="620">
    </div>

  </body>
</html>
